# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
test_arx/
# Virtual Environments
.venv/
env/
venv/


# Jupyter / IDE
.ipynb_checkpoints/
.vscode/


# Runtime / Cache / Tests
cache/


# OS-specific junk
Thumbs.db
Desktop.ini


# Sphinx Documentation
docs/build/
*.doctree
*.pickle

# Local LUNAR config
AutoREACTER/reaction_preparation/lunar_client/config.py

# Generated AutoREACTER example outputs
examples/AutoREACTER_outputs/
AutoREACTER/examples/AutoREACTER_outputs/


# IDE and OS files
.DS_Store
.vscode/
.idea/


# Local config
AutoREACTER/reaction_preparation/lunar_client/config.py

# IDE and OS files
.DS_Store
.vscode/
.idea/
