# Python
**pycache**/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual Environments
.venv/
env/
venv/


# Jupyter / IDE
.ipynb_checkpoints/
.vscode/


# Runtime / Cache / Tests
cache/


# OS-specific junk
Thumbs.db
Desktop.ini


# Sphinx Documentation
docs/build/
*.doctree
*.pickle

# Local config
AutoREACTER/reaction_preparation/lunar_client/config.py